body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container,
.footer-container {
  min-width: 320px;
  position: fixed;
  max-width: 1200px;
  width: 100%;
  background-color: #f2f1ef;
}

.logo {
  height: 50px;
}

#main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

.livro-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.livro-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
